<div class="card">
  <div class="card-header">
    List of Product Page
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input class="form-control" [(ngModel)]='name' />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        Filtered by {{name}}
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>
              <button class="btn btn-primary">
                Product Image
              </button>
            </th>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Available</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="productList.length > 0">
            <tr *ngFor="let product of productList | productFilter:name">
              <th><a href="https://{{ product.imageUrl }}" target="_blank">{{ product.imageUrl }}</a></th>
              <th>{{ product.code }}</th>
              <th>{{ product.name | nameFilter}}</th>
              <th>{{ product.price | number:'1.2' }}</th>
              <th><a [ngStyle]="{'color': product.available? 'green':'red'}">{{ product.available }}</a></th>
              <th>{{ product.rating }}</th>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <h4 *ngIf="productList.length == 0" style="text-align: center;">
        ไม่พบสินค้า
      </h4>
    </div>
  </div>
</div>