table.fixed {
    table-layout: fixed;
    width: 100%;
  }
  table.fixed td {
    overflow: hidden;
  }
.click:hover{
    cursor: pointer;
  }
  .imgWB {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }