<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <a href="/"><b>Workshop</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="card-body" style="margin: 40px;" align='center'>
            <h3 class="login-box-msg">Sign in to start your session</h3>

            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                <input class="form-control" placeholder="Username Hint:admin" type="text" formControlName="username"
                    autocomplete="off" required>
                <br />
                <input class="form-control" placeholder="Password Hint:1234" type="password" formControlName="password"
                    autocomplete="off" required>
                <br />
                <br />
                <button type="submit" class="btn btn-outline-success btn-block">Sign In</button>
            </form>
        </div>
    </div>
</div>
<ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: '3px' }">
</ngx-loading>